@import url(https://fonts.googleapis.com/css?family=Vidaloka);

html, body {
  margin: 0;
  padding: 0;
  background: url(img/outside.jpg) no-repeat center center fixed;
  background-size: cover;
  background-color: lightgray;
  background-blend-mode: screen;
  font-family: Helvetica, Arial, sans-serif;
}
.logo {
  margin: auto;
  padding-bottom: 50px;
}

.logo img {
  width: 500px;
}

.featuredimage {
  margin: auto;
  font-family: Georgia, serif;
  font-style: italic;
  font-weight: 400;
  font-size: 30px;
}

.featuredimage img {
  width: 300px;
  border-radius: 50%;
}

.fulldisplay {
  display: table-cell;
  text-align: center;
  height: 100vh;
  width: 100vw;
  vertical-align: middle;
}

a {
  transition: .2s;
}

a:link {
    color: gray;
    text-decoration: none;
}

hr {
  border: none;
  height: 30px;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
    text-decoration: none;
}

a:active {
    color: black;
}
