@import url(https://fonts.googleapis.com/css?family=Vidaloka);

html, body {
  margin: 0;
  padding: 0;
  background-color: lightgray;
  background-blend-mode: screen;
  font-family: Helvetica, Arial, sans-serif;
  font-smooth: never;
  -webkit-font-smoothing: antialiased;
}

h2 {
  font-family: Georgia, Times, serif;
  font-size: 30px;
  font-weight: normal;
  font-style: italic;
}

h3 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: normal;
}

hr {
  padding: 10px;
  width: 30%;
  border: none;
  border-bottom: 1px solid white;
}

.layout {
  display: table;
}

.each_div {
  display: table-row;
    }

.home {
  background: url(img/outside.jpg) no-repeat center center;
  background-size: cover;
  background-color: gainsboro;
  background-blend-mode: screen;
  width: 100vw;
  height: 100vh;
  display:table-cell;
  vertical-align: middle;
  text-align: center;
}
.mission {
  background: url(img/mission.jpg) no-repeat center center fixed;
  background-size: cover;
  color: white;
  padding-left: 100px;
  padding-right: 100px;
  width: 100vw;
  height: 100vh;
  display:table-cell;
  vertical-align: middle;
  text-align: center;
}

.hours {
  background-color: #800000;
  padding-left: 100px;
  padding-right: 100px;
  color: white;
  width: 100vw;
  height: 100vh;
  display:table-cell;
  vertical-align: middle;
  text-align: center;
}

a {
  color: #800000;
  text-decoration: none;
}

a:hover {
  color: black;
}

.mission span, .hours span{
  font-size: 5vw;
  font-family: Georgia, Times, serif;
  font-weight: normal;
  font-style: italic;
}

.map {
  width: 100vw;
  height: 100vh;
  display:table-cell;
  vertical-align: middle;
  text-align: center;
}

.featuredimage {
  margin: auto;
  font-family: Georgia, serif;
  font-style: italic;
  font-weight: 400;
  font-size: 30px;
}

.featuredimage img {
  width: 300px;
  border-radius: 50%;
}

.address {
  font-size: 20px;
}

.nav {
  text-align: left;
  margin: 50px;
  color: white;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 1;
}
